.footer-top {
  max-height: 120px;
  overflow: hidden;
  position: relative;

  .footer-image {
    width: 100%;
    z-index: 1;
  }
  .footer-bird {
    position: absolute;
    right: 8px;
    width: 133px;
    height: 120px;
    @media only screen and (min-width: 1281px) {
      height: 120px;
    }
  }
}
footer {
  .contact-info {
    border: 1px solid $bluegreen;
    background: $bluegreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: $white;

    p:first-child {
      font-size: 22px;
      font-family: $serif;
      margin-bottom: 18px;
    }
    p {
      font-family: $sans-serif;
      margin-bottom: 13px;
    }
    a {
      font-size: 16px;
      font-family: $sans-serif;
      color: $white;
    }
    .social-media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p:first-child {
        font-size: 22px;
        font-family: $serif;
        margin: 40px 0px 24px 0px;
      }

      .media-icons {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin: 0px 20px 0px;
        }
      }
    }
  }

  .partners {
    display: flex;
    justify-content: center;
    background: $bluegreen;
    padding: 39px 0px 24px 0px;

    img {
      margin: 0px 20px 0px;
    }
  }
}
