.nav-bar {
  background: $bluegreen;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.43);

  .menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .search-icon {
    position: absolute;
    top: 16px;
    right: 20px;
  }
}

.navigation-menu {
  background: $bluegreen;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -100vh;
  transition: 0.8s;
  z-index: 10;

  .cross-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 32px;
    width: 32px;
  }

  .logo {
    width: 76px;
    height: 76px;
    margin-bottom: 8px;
  }

  .menu {
    ul {
      list-style: none;
      li {
        margin: 30px;
        text-align: center;
        font-family: $minion;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        text-align: center;
        letter-spacing: 0.04em;
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}
