.booking-page {
  background: $lightpink;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 66px;

  .booking-title {
    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 24px 0 0 0;
  }

  .booking-form {
    display: flex;
    justify-content: center;
    background: $lightpink;
    min-height: 75vh;

    .booking-form-container {
      width: 327px;
      height: auto;
      margin: 44px 0;
      border-radius: 6px;
      background: $pink;
      padding: 16px;
      position: relative;
      display: flex;
      flex-direction: column;

      h1 {
        font-family: $serif;
      }

      p {
        margin: 24px 0px 16px 0px;
        font-family: $sans-serif;
        font-size: 14px;
        line-height: 140%;
      }

      form {
        display: flex;
        flex-direction: column;
        font-family: $sans-serif;

        label {
          padding: 8px 8px 8px 0;
        }

        input {
          width: 295px;
          height: 40px;
          padding: 16px;
          border-radius: 6px;
          border: none;
        }
        textarea {
          height: 144px;
          margin-bottom: 44px;
          resize: none;
          border-radius: 6px;
          border: none;
          padding: 16px;
        }
      }

      button {
        position: absolute;
        bottom: -17px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 111px;
        height: 38px;
        background: $orange;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        color: $white;
        font-size: 14px;
        border: none;
        z-index: 5;
      }
    }
  }

  button {
    margin-top: 16px;

    margin-left: auto;
    margin-right: auto;
    width: 243px;
    height: 38px;
    background: $orange;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: $white;
    font-size: 14px;
    border: none;
  }
}
