.calender-main {
  background: $pink;
  background: url("./../../images/backgroundcalender.png") no-repeat;
  background-size: cover;
  @media only screen and (min-width: 1281px) {
    background: url("./../../images/backgroundmobile.png") no-repeat;
    background-size: cover;
  }

  .calender-page-name {
    padding: 24px 0px 16px 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-family: $serif;
    @media only screen and (min-width: 1281px) {
      font-size: 36px;
    }
  }

  .calender-forms {
    width: 327px;
    margin: 0 auto 24px auto;

    .tour-button {
      @include button(
        100%,
        32px,
        $bluegreen,
        6px,
        12px,
        $white,
        0px 2px 2px rgba(0, 0, 0, 0.25)
      );
      text-align: center;
    }

    .tour-form {
      width: 327px;
      border-radius: 0px 0px 6px 6px;
      font-family: $sans-serif;
      font-size: 14px;
      position: relative;
      height: 0;
      overflow: hidden;

      p {
        width: 295px;
        height: 50px;
        line-height: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        margin: 24px 0px 24px 0px;

        input {
          width: 295px;
          height: 40px;
          background: $white;
          border-radius: 6px;
          border: none;
          margin: 8px 0px 8px 0px;
        }
      }

      button {
        @include button(
          135px,
          40px,
          $orange,
          6px,
          14px,
          $white,
          0px 2px 2px rgba(0, 0, 0, 0.25)
        );
        position: absolute;
        bottom: -17px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .tour-form,
    .filter-content {
      background: $lightpink;
    }

    .show-tour {
      height: 346px;
      padding: 16px 16px 0px 16px;
      overflow: visible;
    }
    .tour-button-change {
      border-radius: 6px 6px 0px 0px;
    }
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
  }
  .news-filter {
    width: 327px;
    height: 32px;
    background: $bluegreen;
    border: none;
    border-radius: 6px;
    color: white;
    margin-top: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    z-index: 1;
  }

  .news-filter-borders {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .filter-content.toggle-filter {
    height: 395px;
    transition: height 0.1s ease-out;
    opacity: 1;
  }

  .filter-content {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 0;
    opacity: 0;
    width: 327px;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;

    .checkboxes {
      display: flex;
      align-items: center;
      margin: 24px 16px 0px 16px;

      .checkbox {
        position: absolute;
        opacity: 0;
        z-index: 2;
        height: 24px;
        width: 24px;
        border-radius: 6px;

        & + label {
          position: relative;
          cursor: pointer;
          padding: 0;
        }
        & + label:before {
          content: "";
          margin-right: 16px;
          display: inline-block;
          vertical-align: middle;
          width: 24px;
          height: 24px;
          background: white;
          border-radius: 6px;
        }
        &:hover + label:before {
          background: $orange;
        }
        &:focus + label:before {
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }
        &:checked + label:before {
          background: $orange;
        }
        &:checked + label:after {
          content: "";
          position: absolute;
          left: 7px;
          top: 11px;
          background: white;
          width: 2px;
          height: 2px;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
            4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          transform: rotate(45deg);
        }
      }

      .checkbox-label {
        font-family: Lato;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
  .filter-search-field {
    width: 295px;
    height: 26px;
    border: none;
    border-radius: 6px;
    margin: 24px 16px;
    background: white;
    font-family: Lato;
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 16px;
  }
  .past-events-container {
    display: flex;
    justify-content: center;
    margin: 32px 0px 100px 0px;

    .past-events-link {
      font-family: $sans-serif;
      color: #000;
    }
  }
}
