.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20vh;

  .contact-title {
    font-family: EB Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 24px 0 24px 0;
    @media only screen and (min-width: 1281px) {
      font-size: 36px;
    }
  }

  .contact-information {
    width: 327px;
    height: auto;
    padding: 16px;
    border-radius: 6px;
    background: $pink;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    @media only screen and (min-width: 1281px) {
      width: 582px;
      display:flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      display: flex;
      align-items: center;
      letter-spacing: 0.04em;
      color: $bluegreen;
      margin-bottom: 12px;
      text-transform: uppercase;
    }
    p {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 10px;
    }
  }

  .management-wrapper{
    @media only screen and (min-width: 1281px) {
    width: 968px;
    height: 488px;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background: $pink;
    display:flex;
    
    }
  }

  .management-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media only screen and (min-width: 1281px){
      margin: 56px 0 16px 51px;
    }

    .management {
      margin-bottom: 24px;
    }
    .management-image {
      height: 243px;
      width: 243px;
      margin-bottom: 16px;
    }

    h1 {
      font-family: lato;
      font-size: 18px;
      font-weight: bold;
    }

    p {
      font-family: lato;
      font-size: 16px;
      font-weight: normal;
    }
  }

  .contact-form {
    display: flex;
    justify-content: center;
    min-height: 75vh;


    .contact-form-container {
      width: 327px;
      height: 430px;
      margin-top: 43px;
      border-radius: 6px;
      background: $pink;
      padding: 16px;
      position: relative;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      @media only screen and (min-width: 1281px){
       width: 584px;
      }
      

      h1 {
        font-family: $serif;
      }

      p {
        margin: 24px 0px 16px 0px;
        font-family: $sans-serif;
        font-size: 14px;
        line-height: 140%;
      }

      form {
        display: flex;
        flex-direction: column;
        font-family: $sans-serif;
        @media only screen and (min-width: 1281px){
          display: flex;
          text-align: inherit;
          align-self: center;
        }

        label {
          padding: 8px 8px 8px 0;
        }

        input {
          width: 295px;
          height: 40px;
          border-radius: 6px;
          border: none;
          padding: 16px;
          font-family: $sans-serif;
          @media only screen and (min-width: 1281px){
          width: 446px;
          }
        }
      }

      button {
        @include button(
          111px,
          38px,
          $orange,
          6px,
          14px,
          $white,
          0px 2px 2px rgba(0, 0, 0, 0.25)
        );
        position: absolute;
        bottom: -17px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 5;
      }
    }
  }
}
