.news-section {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 1);

  .news {
    background: $pink;
    width: 327px;
    padding: 16px;
    border-radius: 6px;
    position: relative;
    margin: 24px 0px 44px 0px;
    height: auto;

    .news-prompt {
      color: #555555;
      font-family: $sans-serif;
      text-transform: uppercase;
      font-style: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.04em;
      margin-bottom: 10px;
    }
    .news-items {
      margin-bottom: 25px;
    }

    .news-card-start {
      margin-bottom: 24px;
      .news-card-text {
        h1 {
          font-size: 22px;
          font-family: $serif;
        }
        p {
          font-size: 14px;
          font-family: $sans-serif;
          line-height: 140%;
          padding: 16px 0px 20px 0px;
        }
        a {
          font-family: $sans-serif;
          font-size: 12px;
          letter-spacing: 0.04em;
          color: #000;
        }
      }
    }
    button {
      position: absolute;
      bottom: -17px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 111px;
      height: 38px;
      background: $orange;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      color: $white;
      font-size: 14px;
      border: none;
    }
  }
}

.event-header {
  background: $pink;
  text-align: center;
  font-family: $serif;
  font-size: 20px;
  padding: 16px;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: $pink;
  position: relative;
  padding-bottom: 24px;

  .event-card-wrapper {
    position: relative;
    background: $lightpink;
    display: flex;
    flex-direction: column;
    width: 351px;
    margin-bottom: 16px;
    border-radius: 6px 0px 0px 6px;

    .event-card {
      display: flex;
      width: 351px;
      height: 128px;
    }

    .event-date {
      width: 80px;
      height: 128px;
      background: $bluegreen;
      border-radius: 6px 0px 0px 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      font-family: $sans-serif;
      font-size: 16px;
      position: absolute;
      transition: 0.1s;

      h1 {
        font-family: $serif;
        font-size: 20px;
      }
    }

    .event-date-expanded {
      border-radius: 6px 0px 0px 0px;
    }

    .event-short-info {
      display: block;
      margin: 10px;
      width: 251px;
      position: absolute;
      right: 0;
      top: 0;
    }

    .event-type {
      font-family: $sans-serif;
      font-size: 12px;
      letter-spacing: 0.04em;
      color: $textgrey;
      text-decoration: none;
      text-transform: uppercase;
    }

    .event-name {
      font-family: $serif;
      font-size: 22px;
      color: #000000;
    }
    .hide {
      display: none;
    }

    .event-thumbnail {
      position: absolute;
      top: 0;
      right: 0;
      width: 271px;
      height: 128px;
      overflow: hidden;

      .thumbnail-image {
        display: none;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .image-appear {
        display: block;
      }
    }

    .event-card-expanded {
      height: 0;
      overflow: hidden;
      transition: 0.1s;

      p {
        font-family: $sans-serif;
        font-size: 14px;
      }

      .event-name {
        margin-bottom: 16px;
      }
      .event-content {
        margin-bottom: 16px;
        width: 295px;
        line-height: 20px;
      }
      .event-prices {
        margin: 16px 0px 16px 0px;
      }
      a {
        color: black;
        font-family: $sans-serif;
      }
    }

    .expand {
      height: auto;
      padding: 8px 0px 50px 16px;
    }

    .event-buttons {
      position: absolute;
      bottom: 0;
      right: 0;

      .event-read-more {
        width: 124px;
        height: 32px;
        background: none;
        border: none;
      }

      .buy-ticket {
        width: 142px;
        height: 32px;
        background: $orange;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px 0px 0px 0px;
        font-family: $sans-serif;
        font-size: 12px;
        color: $white;
        border: none;
      }
    }
  }
  .all-events-btn {
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 111px;
    height: 38px;
    background: $orange;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: $white;
    font-size: 14px;
    border: none;
  }
}

.news-letter {
  display: flex;
  justify-content: center;
  min-height: 75vh;

  .news-letter-box {
    width: 327px;
    height: 331px;
    margin-top: 43px;
    border-radius: 6px;
    background: $pink;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;

    h1 {
      font-family: $serif;
    }

    p {
      margin: 24px 0px 16px 0px;
      font-family: $sans-serif;
      font-size: 14px;
      line-height: 140%;
    }

    form {
      display: flex;
      flex-direction: column;
      font-family: $sans-serif;

      label {
        padding: 8px 8px 8px 0;
      }

      input {
        width: 295px;
        height: 40px;
        border-radius: 6px;
        padding: 16px;
        border: none;
        font-family: $sans-serif;
      }
    }

    button {
      position: absolute;
      bottom: -17px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 111px;
      height: 38px;
      background: $orange;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      color: $white;
      font-size: 14px;
      border: none;
      z-index: 5;
    }
  }
}
