.banner {
  background: $lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .banner-image {
    width: 375px;
    height: 256px;
  }
  .logo {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
  }
  h1 {
    font-family: $minion;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $dark;
    margin-bottom: 50px;
  }
}
.news-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lightpink;

  .news {
    background: $pink;
    width: 327px;
    padding: 16px;
    border-radius: 6px;
    position: relative;
    margin: 24px 0px 44px 0px;
    height: auto;

    .news-prompt {
      color: #555555;
      font-family: $avenir;
      text-transform: uppercase;
      font-style: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.04em;
      margin-bottom: 10px;
    }
    .news-items {
      margin-bottom: 25px;
    }

    .news-card {
      .news-card-text {
        h1 {
          font-size: 22px;
          font-family: $minion;
        }
        p {
          font-size: 14px;
          font-family: $avenir;
          line-height: 140%;
          padding: 20px 0px 20px 0px;
        }
      }
    }
    button {
      position: absolute;
      bottom: -17px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 111px;
      height: 38px;
      background: $orange;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      color: $white;
      font-size: 14px;
      border: none;
    }
  }
}

.events {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .event-card-wrapper {
    position: relative;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    width: 351px;

    .event-card {
      display: flex;
      width: 351px;
      height: 128px;
      border: 1px solid black;
    }

    .event-date {
      width: 80px;
      height: 128px;
      background: $bluegreen;
      border-radius: 6px 0px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
    }

    .event-short-info {
      display: block;
    }

    .hide {
      display: none;
    }

    .event-thumbnail {
      position: absolute;
      top: 0;
      right: 0;
      width: 271px;
      height: 128px;

      .thumbnail-image {
        display: none;
        width: 100%;
        height: 100%;
      }

      .image-appear {
        display: block;
      }
    }

    .event-card-expanded {
      height: 0;
      overflow: hidden;
      transition: 0.8s;
    }

    .expand {
      height: auto;
    }

    .event-buttons {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.news-letter {
  display: flex;
  justify-content: center;
  background: $lightpink;
  min-height: 75vh;

  .news-letter-box {
    width: 327px;
    height: 331px;
    margin-top: 43px;
    border-radius: 6px;
    background: $pink;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;

    h1 {
      font-family: $minion;
    }

    p {
      margin: 24px 0px 16px 0px;
      font-family: $avenir;
      font-size: 14px;
      line-height: 140%;
    }

    form {
      display: flex;
      flex-direction: column;
      font-family: $avenir;

      label {
        padding: 8px;
      }

      input {
        width: 295px;
        height: 40px;
        border-radius: 6px;
        border: none;
      }
    }

    button {
      position: absolute;
      bottom: -17px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 111px;
      height: 38px;
      background: $orange;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      color: $white;
      font-size: 14px;
      border: none;
      z-index: 5;
    }
  }
}
