.no-page {
  background: $lightpink;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: $serif;
    padding: 5px;
  }
  p,
  a {
    font-family: $sans-serif;
    padding: 5px;
    color: #000;
  }
}
